.card-body {
    height: 27rem;
}

.grand-total-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
}