.transaction-button {
    padding: 0;
    border: none;
    background: none;
    color: #fff;

    &:hover {
        text-decoration: underline;
    }

    i {
        display: none;
    }

    &:hover i {
        display: inline-block;
        &::before {
            margin-left: 4px;
            text-decoration: none;
            color: gray;
        }
    }

}
