.dashboard-card-table-container {
    max-height: 24rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    min-height: 20rem;
}

.table-controls-container {
    display: flex;
    justify-content: right;
}

button.btn:disabled {
    color: #8a8a8a;
    border-color: #3d3d3d;
}

button.btn.btn-light {
    border: 1px solid #3d3d3d;
}