input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.datatable-icon-left::before {
    content: '5';
}

.datatable-icon-left {
    color: red;
}

:host ::ng-deep a i {
    position: relative;
    top: 3px;
}

:host ::ng-deep .datatable-footer .page-count {
    font-style: italic;
}

:host ::ng-deep .datatable-body-cell-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

:host ::ng-deep .datatable-body-cell-label button {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    text-align: left;
    max-width: 100%
}

.hero-container {
    background-color: #222529;
}

.hero-container img {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 80%) !important;
}

.credits {
    color: #4d4d4d;
    font-style: italic;
}
    
:host ::ng-deep .datatable-pager a {
    border: 1px solid #3d3d3d;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #fff;
    min-width: 34px;
    text-align: center;
    &:hover {
        background: #1c1c1c;
        transition: 0.3s;
    }
}

:host ::ng-deep .datatable-pager li.disabled a {
    border: 1px solid #3d3d3d;
    color: #8a8a8a;

    &:hover {
        background: transparent;
    }
}

:host ::ng-deep .ngx-datatable .datatable-footer .datatable-pager li.pages.active a {
    background: #2a9fd6;
    cursor: default;
}

:host ::ng-deep datatable-header-cell {
    font-weight: bold;
    color: #fff;
    background-color: #2a9fd6;
    padding: 0.5rem 0.5rem;
}

:host ::ng-deep datatable-header-cell:not(:last-child) {
    border-right: 1px solid rgba(0,0,0,0.12)
}

:host ::ng-deep datatable-body-cell {
    padding: 6px 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom: 1px solid rgb(40,40,40);
    box-shadow: inset 0 0 0 9999px rgba(255, 255, 255,.05);
    color: #fff;
}

:host ::ng-deep .dumb-table .datatable-body {
    min-height: 300px;
}

:host ::ng-deep .rich-table .datatable-body {
    min-height: 397px;
}

.all-transactions-card .card-body.dashboard-card-table-container {
    min-height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

:host ::ng-deep .nsm-dialog {
    max-width: 100%;
}

:host ::ng-deep .nsm-content {
    border: 1px solid #5c5c5c;
    border-radius: 12px;
    background-color: #1a1a1a;
}

:host ::ng-deep .nsm-dialog-btn-close {
    color: #fff;
}
