<div class="container">

    <label class="btn btn-outline-primary">
        <input type="file" name="file" class="btn btn-primary" id="inputGroupFile" required (change)="handleImport($event)"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        Upload CSV
    </label >

    


    <app-date-table [allData]="daysSortedByExpenseMap"></app-date-table>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Transaction Date</th>
                <th scope="col">Post Date</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="transactions.length; else elseBlock">
                <tr *ngFor="let transaction of transactions; let i = index;">
                    <td>{{ transaction.transactionDate }}</td>
                    <td>{{ transaction.postDate }}</td>
                    <td>{{ transaction.desc }}</td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.amount }}</td>
                </tr>
            </ng-container>
            <ng-template #elseBlock>
                <tr>
                    <td colspan="6" class="text-center">No Transactions found</td>
                </tr>
            </ng-template>
        </tbody>
    </table>

</div>