<div class="container mt-5">
    <div *ngIf="!transactions?.length">
        <label class="btn btn-primary">
            <input type="file" name="file" class="btn btn-primary" id="inputGroupFile" required (change)="handleImport($event)"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            + Upload CSV
        </label >
    </div>
    <div *ngIf="transactions?.length">
        
        <button class="btn btn-outline-dark" (click)="closeReport()">&#60; Back</button>

        <div class="row">
            <div class="col-lg-6">
                <app-pie-chart [categorizedTransactionsArray]="categorizedTransactionsArray" [openModalWithFilter]="openModalWithFilter"></app-pie-chart>
            </div>

            <div class="col-lg-6">
                <app-grand-total-balance [grandTotalBalance]="grandTotalBalanceNumber" ></app-grand-total-balance>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <app-bar-chart [totalsByDateMap]="totalsByDateMap" [openModalWithFilter]="openModalWithFilter" ></app-bar-chart>
            </div>
        </div>    
        
        <div class="row mb-5">
            <div class="col-lg-12">
                <app-rich-table
                    [allTransactions]="transactions"
                    [columnsData]="columnsData"
                    [setModalTableRowData]="setModalTableRowData"
                    [modalTableRowData]="modalTableRowData"
                    [openModalWithFilter]="openModalWithFilter"
                >
            </app-rich-table>
            </div>
        </div>
    </div>
</div>

<ngx-smart-modal
    #myModal
    identifier="myModal"
    (onClose)="onModalClose()"
    (onDismiss)="onModalClose()"
>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12">

                <app-dumb-table
                    [allTransactions]="modalTableRowData"
                    [columnsData]="columnsData"
                    [selectedFilter]="selectedFilter"
                >
                </app-dumb-table>
            </div>
        </div>
    </div>
</ngx-smart-modal>
